<div class="px-3 bg-primary">
    <div class="theme-container"> 

        <div class="get-in-touch" ngClass.lt-md="mt-3">
            


            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="content" ngClass.xs="p-0"> 
                <div fxLayout="column" class="p-3">
                    <h2>ŽELITE PRODATI NEKRETNINU? JAVITE NAM SE!</h2>
                    <p class="mb-0">Naš tim će vam rado pomoći u svakom koraku procesa.</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="p-3">
                    <mat-icon class="mat-icon-xlg mx-2">call</mat-icon>

                    <div fxLayout="column">
                        <p class="mb-0">PIŠITE NAM NA VIBER</p>
                        <h2 class="ws-nowrap">(+000) 000 000</h2>
                    </div>
                </div>
                <div class="p-3">
                    <a mat-flat-button routerLink="/contact" class="mx-3 uppercase">Kontaktiraj nas</a>
                </div>
            </div> 

        </div>

    </div>
</div>