<div class="p-3">
  <div class="theme-container">
      <div class="my-3">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
          <h1 class="uppercase">OGLAŠAVANJE ZA POJEDINAČNU NEKRETNINU</h1>
          <p>Izaberite način oglašavanja koji Vam najviše odgovara.</p>
        </div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="pricing-tabs">
          <mat-tab label="MJESEČNO"><app-monthly></app-monthly></mat-tab>
          <!--<mat-tab label="GODIŠNJE"><app-yearly></app-yearly></mat-tab>-->
        </mat-tab-group>
      </div>

  </div>
  <div class="theme-container">
  <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
    <h1 class="uppercase">PROMOCIJA ISTAKNUTIH I TOP NEKRETNINA</h1>
    <p>Izaberite način oglašavanja koji Vam najviše odgovara.</p>
    <h2>Javite nam se kako bismo vašu nekretninu učinili dijelom našeg izabrane kolekcije istaknutih i top nekretnina, te joj osigurali vrhunsku promociju.</h2>
  </div>
    </div>
</div>
<app-get-in-touch></app-get-in-touch>